section .job-side{
    display: flex;
}

section .btn{
    height: 30px;
    border-radius: 8px;
}

.btn.btn-primary:hover{
    color: #3d6efa;
    background-color: white;
    border-color: #3d6efa;
}

.staff .img {
    width: 110px;
    height: 105px;
    border: 4px solid #3d6efa;
}

.staff .text{
    display: flex;
}

.staff .text p a{
    color: #3d6efa;
    text-decoration: none;
}

.staff .text p a{
    padding-left: 50px;
}